html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

li {
  list-style-type: none;
  background-color: transparent;
  font-size: 1.2rem;
}

h1 {
  font-size: 3.2rem;
}

p {
  margin: 0;
  font-size: 1.2rem;
}

.Collapsible__trigger {
  margin: 0 auto;
  width: 8rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  &:hover {
    cursor: pointer;
  }
}
.Collapsible__trigger:after {
  font-family: FontAwesome;
  content: "\f078";
  display: block;
  transition: transform 300ms;
  color: black;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}
