.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar{
  height: 52px;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
}

.main {
  padding: 0 2rem;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > :not(:last-child) {
    margin-bottom: 2rem;
  }
}

.mainContainer {
  max-width: 48rem;
  min-width: 20rem;
  border-radius: 2.4rem;
}

.descriptionContainer {
  margin: 2rem 0;
  text-align: center;
  > :not(:last-child) {
    margin-bottom: 1rem;
  }
}

.waveInputContainer {
  border: 1px solid lightgrey;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  border-radius: 1rem;

  &:focus-within {
    border: 1px solid black;
  }
}

.waveMessageInput {
  border: none;
  flex: 1;

  &:focus {
    outline: none;
  }
}

.waveButton {
  border-radius: 1rem;
  font-weight: bold;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  border-color: transparent;
  &:hover {
    color: black;
    cursor: pointer;
  }
  &:active {
    background-color: darkgray;
  }
}

.footer {
  margin: 2rem;
  display: flex;
  flex: 0;
  justify-content: center;
}

.titleContainer{
  margin: 1.2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.title {
  line-height: 1.15;
  font-size: 6rem;
  text-align: center;
}

.totalWaveText {
  width: 100%;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.6rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.waveListItem {
  // border-radius: 2rem;
  // border: 1px solid lightgrey;
  max-width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 7rem;
  .waveListItemHeader {
  }
  .waveListItemAddress {
    width: 100%;
    font-size: 1.4rem;
    color: rgb(90, 90, 90);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .waveListItemTimestamp {
    width: 100%;
    font-size: 1.2rem;
    color: grey;
  }
  .waveListItemBody {
    width: 100%;
    font-size: 1.6rem;
    padding: 0.5rem 0;
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.bodyText{
  font-size: 1.6rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.GhostButton {
  padding: 0 1.4rem;
  height: 4.2rem;
  min-width: 8rem;
  background-color: rgb(106, 194, 223);
  color: white;
  border: none;
  border-radius: 1rem;
  &:hover{
    background-color: rgba(173, 216, 230, 0.678);
    cursor: pointer;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
  }
}
